export AWS_SSO_CONFIG="$(pwd)/.aws-sso/config.yaml"
export AWS_CONFIG_FILE="$(pwd)/.aws/config"
export AWS_SHARED_CREDENTIALS_FILE="/dev/null"
export AWS_PROFILE="builder"
export AWS_DEFAULT_REGION="eu-west-1"

PATH_add bin

refresh-profiles
